<div class="page-header"><h1><%= @event.name %></h1></div>

<div class="row">
  <div class="col-md-8">
    <% if @event.event_image? %>
      <div class="thumbnail">
        <%= image_tag @event.event_image.url %>
      </div>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-heading">主催者</div>

      <div class="panel-body">
        <% if @event.owner %>
          <%= link_to url_for_twitter @event.owner do %>
            <%= image_tag @event.owner_image_url %>
            <%= "@#{@event.owner_nickname}" %>
          <% end %>
        <% else %>
          退会したユーザです
        <% end %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">開催時間</div>

      <div class="panel-body">
        <%= @event.start_time_str %> - <%= @event.end_time_str %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">開催場所</div>
      <div class="panel-body"><%= @event.place %></div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">イベント内容</div>
      <div class="panel-body"><%= @event.content %></div>
    </div>
  </div>

  <div class="col-md-4">
    <% if @event.created_by?(current_user) %>
      <%= link_to_edit_event @event %>
      <%= link_to_delete_event @event %>
    <% end %>

    <% if @ticket %>
      <%=
      link_to('参加をキャンセルする', event_ticket_path(@event, @ticket),
              method: :delete, class: 'btn btn-warning btn-lg btn-lg btn-block')
      %>
    <% elsif logged_in? %>
      <%= button_tag_for_new_event_ticket '#createTicket' %>
      <%= render 'create_ticket' %>
    <% else %>
      <%= link_to_new_event_ticket %>
    <% end %>

    <hr>

    <div class="panel panel-default">
      <div class="panel-heading">参加者</div>

      <div class="panel-body">
        <ul class="list-unstyled">
          <% @tickets.each do |ticket| %>
            <% if ticket.user %>
              <li>
                <%= link_to url_for_twitter ticket.user do %>
                  <%= image_tag ticket.user_image_url, width: 20, height: 20 %>
                  <%= "@#{ticket.user_nickname}" %>
                <% end %>

                <%= ticket.comment %>
              </li>
            <% else %>
              退会したユーザです
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
